/deep/ mat-list {
  background-color: white;
  padding-top: 0!important;
}

/deep/ mat-list-item,
/deep/ [mat-list-item] {
  border-bottom: 1px solid #ddd;
  text-decoration: none;
}

mat-toolbar{
  margin-bottom: 5px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  color: white;
  flex: 1 1 auto;
}

.taskly-link {
  font-weight: lighter;
  text-emphasis: none;
  color: white;
  text-decoration: none;
  margin-left: 10px;
}
